.App {
  text-align: center;
}

.list {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 20px;
  padding: 10px;
  font-size: 24px;
  background-color: grey;
}

.selected {
  background-color: aqua;
}

.form {
}

.text {
  background-color: #fff;
}
